td {
	color: #000000;
	font-size:12px;
	font-family: "arial", "helvetica", "San-Serif";
}

A{
	font-family :  "arial", "helvetica", "San-Serif";
	font-size : 14px;
	font-weight : bold;
	color : White;
	text-decoration:none;	
}

A:hover{
	text-decoration:none;
	color: #4E5979;
}

B{
	font-family :  "arial", "helvetica", "San-Serif";
	font-size : 14px;
	font-weight : bold;
	color : Black;
	text-decoration:none;	
}

B:hover{
	text-decoration:none;
	color: #4E5979;
}

aa{
	font-family :  "arial", "helvetica", "San-Serif";
	font-size : 14px;
	font-weight : bold;
	color : Black;
	text-decoration:none;	
}

aa:hover{
	text-decoration:none;
	color: #4E5979;
}




h1{
	font-family :  "arial", "helvetica", "San-Serif";
	font-size : 24px;
	font-weight : bold;
	color : #4E5979;
	margin-bottom:5px;
	}
	
h2{
	font-family :  "arial", "helvetica", "San-Serif";
	font-size : 18px;
	font-weight : bold;
	color : #4E5979;
	}

h7{
	font-family :  "arial", "helvetica", "San-Serif";
	font-size : 24px;
	font-weight : bold;
	color : #Black;
	margin-bottom:5px;
	}
h7:hover{
	text-decoration:none;
	color: #Yellow;
}



P{
	font-sixe:12px
	font-family: "arial", "helvetica", "San-Serif";
	padding-left:5px;
	padding-right:5px;
	}
	
.pad{
	font-sixe:12px
	font-family: "arial", "helvetica", "San-Serif";
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;	
	}	
	
.beige{
	background-color: #E8E0CD;
	padding-left:5px;
	padding-right:5px;
	}	
	
.linktext {
	font-family :  "arial", "helvetica", "San-Serif";
	font-size : 14px;
	font-weight : bold;
	color : #b0b1b0;
	}


html, body {
				height: 100%;
			}
			body {
				margin: 0;
				padding: 0;
				font: 12px/1.5 verdana, arial, helvetica, sans-serif;
			}
			#container {
				position: relative;
				min-height: 100%;
				height: 100%;
				voice-family: "\"}\"";
				voice-family: inherit;
				height: auto;
			}
			html>body #container {
				height: auto;
			}
			#content {
				padding: 3px;
				padding-bottom: 48px;
			}
			#footer {
				position: absolute;
				bottom: 0;
				padding: 3px;
				background-color: #908;
				width: 93%;
			}
			#footer h1 {
				color: #fff;
				padding-bottom: 0;
			}
			h1, p {
				margin: 0;
				padding-bottom: 1em;
			}
			h1 {
				font-size: 12px;
				line-height: 1.5em;
			}

