
.command {
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: small;
}

.variable {
    font-weight: normal;
    font-style: italic;
}

.table-header {
    background: #f3efeb;
/*    background: #ff8500; */
}

.table-contents {
    background: lightyellow;
}

.table-example {
/*    background: #eeeeff; */
    background: white;
}





